.gridContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.card-items {
    display: flex;
    justify-content: center;
    position: absolute; 
    margin-top: 35px;
}

h2{
    font-size: 110px;
    margin-top: 4px;
    margin-bottom: 25px;
    border-bottom: solid;
}