
.gridContainer{
    /*
min-height: 100vh;
padding: 5rem calc((100vw - 1300px) / 2);*/
margin-bottom: 100px;
}

@media screen and (max-width: 868px){
    .gridContainer{
        display: flex;
        justify-content: center;
        margin-left: 30px;
}
}


.card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 10px;*/
    justify-items: center;
    padding: 0 2rem;
}


@media screen and (max-width: 1200px){
    .card-items{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 868px){
    .card-items{
    grid-template-columns: 1fr;
}
}

h2{
    font-size: 110px;
    margin-top: 4px;
    margin-bottom: 25px;
    border-bottom: solid;
}