.gridContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.card-items {
    display: flex;
    justify-content: center;
    /* position: relative; */ 
    /*position: absolute; */ 
    position: absolute; 
}